
html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 0;
  }

body {
    margin: 0;
}

  main {
    width: 100%;
  }

header {
    position: fixed; 
    z-index: 100;
    top: -10px;
    width: 100%;
    border-bottom: solid 1px #442a2a;
    background-color: rgb(77, 54, 54);
  }
.navigation ul{
    display: flex;
    justify-content: end;
    list-style-type: none;
}

.navigation ul li{
    margin: 1rem;
    color: beige;
}

.navigation ul li:hover {
    color: azure;
    cursor: pointer;
}






.opening {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63.5rem;
    background-image: url(moto-background.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    
  }

  .resize {
    text-align: center;
  }

  .opening h1 {
    font-size: 3rem;
    color: azure;
  }
  
  .opening h2 {
    font-size: 2.2rem;
    color: azure;
  }

  .products {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .item {
    display: block;
    width: 27%;
    text-align: center;
    margin: auto;
    align-items: bottom;
  }

  @media only screen and (max-width: 895px) {
    .item {
        display: block;
        width: 50%;
        text-align: center;
        margin: auto;
        align-items: bottom;
      }

    .image {
        max-width: 27%;
        height: 230px;
        margin-top: 20px;
        margin-top: 20px;
        display: flex;
        background-size: contain;
        background-repeat: no-repeat;
    }
  }
 .image {

    margin-top: 20px;
    display: flex;
    max-width: 27%;
    height: 450px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  footer {
    background-color: #9b9b9b;
    padding: 1.5rem 2rem;
  }
  
  footer .content {
    color: white;
    display: flex;
    font-size: .75rem;
  }
  
  footer .phone {
    flex-grow: 1;
  }
  
  @media only screen and (max-width: 600px) {
    footer .content {
      font-size: .625rem;
    }
  }